<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SCWCDShowcase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<description>Simple Servlet</description>
  	<display-name>Simple Servlet</display-name>
  	<servlet-name>Simple</servlet-name>
  	<servlet-class>net.anilmathew.play.scwcd.SimpleServlet</servlet-class>
  	<init-param>
  		<param-name>mode</param-name>
  		<param-value>text</param-value>
  	</init-param>
  </servlet>
  
  <servlet>
  	<servlet-name>RequestInspector</servlet-name>
  	<servlet-class>net.anilmathew.play.scwcd.RequestInspectorServlet</servlet-class>
  	<init-param>
  		<param-name>mode</param-name>
  		<param-value>text</param-value>
  	</init-param>
  </servlet>
  
  <servlet>
  	<servlet-name>ResponseManipulator</servlet-name>
  	<servlet-class>net.anilmathew.play.scwcd.ResponseManipulatorServlet</servlet-class>
  	<init-param>
  		<param-name>mode</param-name>
  		<param-value>text</param-value>
  	</init-param>
  </servlet>
   
  <servlet-mapping>
  	<servlet-name>Simple</servlet-name>
  	<url-pattern>/simpleServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>RequestInspector</servlet-name>
  	<url-pattern>*.ri</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ResponseManipulator</servlet-name>
  	<url-pattern>*.resp</url-pattern>
  </servlet-mapping>
    
</web-app>