<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SCWCDShowcase</display-name>
 
  <welcome-file-list>
    <welcome-file>p.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<listener>
	<listener-class>net.anilmathew.play.scwcd.SimpleSessionListener</listener-class>
</listener>
  
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  
  <filter>
  	<description>Authz</description>
  	<filter-name>Authz</filter-name>
  	<filter-class>net.anilmathew.play.scwcd.SimpleServletFilter</filter-class>
  	<init-param>
	  	<param-name>version</param-name>
	  	<param-value>23</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
	<filter-name>Authz</filter-name>
	<servlet-name>Simple</servlet-name>
	<url-pattern>*</url-pattern>
	<dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
 
  <servlet>
  	<description>loggin serlvet</description>
  	<servlet-name>Log</servlet-name>
  	<jsp-file>/log.jsp</jsp-file>
  </servlet>
  
  <servlet>
  	<description>Simple Servlet</description>
  	<display-name>Simple Servlet</display-name>
  	<servlet-name>Simple</servlet-name>
  	<servlet-class>net.anilmathew.play.scwcd.SimpleServlet</servlet-class>
  	<init-param>
  		<param-name>mode</param-name>
  		<param-value>text</param-value>
  	</init-param>
  	<load-on-startup>2</load-on-startup>
  	<!-- 
  	<run-as></run-as>
  	<security-role-ref></security-role-ref>
  	 -->
  </servlet>
  
  <servlet>
  	<servlet-name>RequestInspector</servlet-name>
  	<servlet-class>net.anilmathew.play.scwcd.RequestInspectorServlet</servlet-class>
  	<init-param>
  		<param-name>mode</param-name>
  		<param-value>text</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>ResponseManipulator</servlet-name>
  	<servlet-class>net.anilmathew.play.scwcd.ResponseManipulatorServlet</servlet-class>
  	<init-param>
  		<param-name>mode</param-name>
  		<param-value>text</param-value>
  	</init-param>
  </servlet>
  
  <servlet>
 	<servlet-name>ACCESS_DENIED</servlet-name>
 	<jsp-file>/accessDenied.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Log</servlet-name>
  	<url-pattern>*.log</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
  	<servlet-name>Simple</servlet-name>
  	<url-pattern>/simpleServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>RequestInspector</servlet-name>
  	<url-pattern>*.ri</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ResponseManipulator</servlet-name>
  	<url-pattern>*.resp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ACCESS_DENIED</servlet-name>
  	<url-pattern>/accessDenied</url-pattern>
  </servlet-mapping>
  
  <env-entry>
	  <env-entry-name>runLevel</env-entry-name>
	  <env-entry-type>java.lang.Integer</env-entry-type>
	  <env-entry-value>10</env-entry-value>
  </env-entry>
  
  <error-page>
	  <exception-type>java.lang.Exception</exception-type>
	  <location>/tryAgain.jsp</location>
  </error-page>

</web-app>